body { 
  margin:0;
  padding:5%;
  font-size:1em;
  font-family: "Times New Roman", "Palatino Linotype", Palatino, "Nimbus Roman No9 L", serif;
}

h1,h2,h3,h4,h5,h6 {
  font-weight:normal;
  padding-top:2em;
  font-family:Baskerville, "Baskerville Old Face", "Times New Roman", "Nimbus Roman No9 L", serif;
}
h2 { font-size:1.6em; }
h3 { font-size:1.2em; }

p,li {
  line-height:1.4;
  text-align:justify;
}

a { 
  color: #000;
  text-decoration: none;
  border-bottom:1px dotted #ccc; 
}

#container {
  /*margin:0 auto;*/
  max-width:550px;
}

pre { 
  padding:0 0 0 1em; 
  margin:1em 0; 
  font-size:0.9em; 
  line-height:1.5; 
  border-left:0.1em solid #eee; 
  overflow:hidden; 
}

#menu { 
  margin:0; 
  padding:0; 
  font-family: Baskerville, "Baskerville Old Face", "Times New Roman", "Nimbus Roman No9 L", serif;
}
#menu li { 
  display:inline; 
  margin:0 1px; 
  font-size:0.9em; 
} 
#menu a { 
  border:none; 
  text-transform:uppercase; 
  color:#000; 
}
#menu a:hover { 
  border-bottom:1px solid #000; 
}

li.orn { color:#ccc; font-size:80%; }
p.date { color:#ccc; }

