* {
  margin:0;
  padding:0; }

body {
  padding:10%;
  line-height:1.5;
  font-size:0.9em;
  font-family: ff-tisa-web-pro-1,ff-tisa-web-pro-2,serif; }

#wrap {
  max-width:650px;
  margin:0; }

#me {
  width:15em;
  position:absolute;
  top:5%;
  right:5%; }

h2,h3,h4,h5,h6,p,ul,ol,pre {
  margin-bottom:1em;
  font-weight:normal;
  color:#000; }
pre {
  margin:2em 0; }
h1,h2,h3,h4,h5,h6 {
  font-family: ff-tisa-web-pro-1,ff-tisa-web-pro-2,serif; }

h3,h4,h5,h6 {
  padding:1em 0 0 0; }

h2 {
  font-size:1.2em;
  margin-bottom:0.5em;
  position:relative; }

h2 span {
  position:absolute;
  top:0;
  left:-2em;
  color:#ddd; }

hr {
  border:none; 
  background:none;
  color:#fff;
  background:#fff;
  padding:4em 0; }

a {
  color:#000;
  text-decoration:none; }
a:hover {
  color:#000; }

p {
  text-align:justify;
  color:#222; }

p a, ul a, ol a {
  color:#930; }

p strong {
  background:#F1EFD8;
  font-weight:normal; 
  padding:0 0.1em; 
  margin:0 -0.1em; }

ul,ol {
  padding:0 0 1em 0;
  list-style-type:none;
}
li {
  padding:0.1em 0; }
ul span {
  color:#ccc;
  padding:0 0 0 .5em; }
ul span a {
  color:#999; }


pre,blockquote {
  font-size:0.9em; 
  padding:2em; 
  background:#f9f9f9;
  overflow:auto;
  -webkit-shadow:inset 0 0 5px rgba(0,0,0,0.1);
  -moz-shadow:inset 0 0 5px rgba(0,0,0,0.1);
  box-shadow:inset 0 0 5px rgba(0,0,0,0.1); }

.post {
  font-size:1.1em; }
.post h2 {
  font-size:2em;
  padding:0 0 1em 0; }
.post h3 {
  font-size:1.4em; }
.post ul, .post ol {
  padding:0 0 1em 2em; }
