body, html {
    margin:0;
    padding:0;
    height:100%;
}

#bg {
    position:fixed;
    top:0;
    left:0;
    width:100%;
}

.high #bg {
    width:auto;
    height:100%;
}

.wide #bg {
    width:100%;
    height:auto;
}


body {
    background:#333 fixed url("../img/body.png");
    font-size:20px;
    padding:0;
}

h2,h3 {
    font-weight:normal;
    font-size:1.4em;
    font-family: "proxima-nova-condensed",sans-serif;
    text-align:center;
    border-bottom:1px dotted #ddd;
    padding:0 0 0.5em 0;
    margin:0 0 1em 0;
    text-transform:uppercase;
}

h3 {
    padding-top:2em;
}

#main img {
    width:100%;
    padding:1em;
    border:1px dotted #ccc;
    margin-left:-1em;
    background:#fff;
}

#main a.submitLink {
    text-align:center;
    display:block;
    border-top:1px dotted #ddd;
    border-bottom:1px dotted #ddd;
    padding:0.5em 0;
    margin:0.5em 0;
}

#main ul {
    padding:1.5em 3em;
    border:1px dotted #ccc;
    text-align:left;
    background:#fff;
    font-size:0.9em;
}

#main p {
    font-size:0.9em;
}

#main blockquote {
    color:#555;
    font-style:italic;
    font-size:0.9em;
}

#outer {
    position:relative;
    z-index:1;
    padding:3em 0;
    margin:0 auto;
    width:34em;
}

#container {
    border:0.3em solid rgba(0,0,0,0.1);
}

#around {
    background:#f1f1f1 url("../img/body2.png");
    border:1px solid #fff;
    padding:0 0.5em;
}

#wrap {
    border-left:3px double #d9daec;
    border-right:3px double #d9daec;
    padding:4em;
}

#logo {
    margin:0 0 3em 0;
    text-align:center;
}

#logo img.first {
    width:270px;
    margin:0 0 2em 0;
}
#logo img.last {
    width:470px;
}

#menu ul {
    margin:0 0 3em 0;
    padding:0;
    list-style-type:none;
    text-align:center;
    padding:1em;
    border-top:1px dotted #ccc;
    border-bottom:1px dotted #ccc;
}

#menu li {
    display:inline;
}

#container a, #menu a {
    color:#00719d;
    color:#c01274;
    text-decoration:none;
}

#menu a {
    text-transform:uppercase;
    margin:0 1em 0 0;
    font-size:22px;
    font-family: "proxima-nova-condensed",sans-serif;
}

#menu a:hover {
    color:#000;
}

#main {
    text-align:justify;
    line-height:1.5;
    font-family: "ff-meta-web-pro";
}

.clear {
    clear:both;
}

#partners {
    padding-left:2px;
}

#partners img {
    width:157px;
    padding:0;
    border:none;
    float:left;
    margin:0 2px 2px 0;
    opacity:0.2;
}

#partners img:hover {
    opacity:1;
}
