body {
    font-size:14px;
    font-family: "proxima-nova-condensed",sans-serif;
    background: #fff url("../img/body.png");
    color:#666;
}

#tagline {
    text-align:center;
    font-size:1.4em;
    text-transform:uppercase;
    text-shadow:0 0 10px rgba(0,0,0,0.1);
}

#tagline span {
    color:#fe57a1;
    padding:0 0.2em;
}

#tools {
    background:rgba(255,255,255,0.05);
    padding:1em;
    border-radius:0 0 5px 5px;
    margin:0 0 2em 0;
    font-family: "ff-meta-web-pro";
    text-align:center;
    line-height:30px;
}

#tools a {
    background:#eee;
    border-top:1px solid rgba(255,255,255,0.2);
    padding:3px 8px 2px 8px;
    border-radius:5px;
    text-transform:uppercase;
    font-weight:bold;
    margin:0 2px 5px 2px;
    color:#fff;
    font-size:12px;
    box-shadow:0 2px 3px rgba(0,0,0,0.2);
}

#tools a.sal {
    background:#888;
    color:#fff;
}

#tools a.all {
    background:#fe57a1;
    color:#fff;
}

#container #tools a:hover {
    background:#fff;
    color:#333;
}

ul {
    margin:0;
    padding:0;
    list-style-type:none;
    font-family: "ff-meta-web-pro";
}

li {
    padding:1em 9em 1em 1em;
    position:relative;
    text-shadow:1px 1px 1px #fff;
    border-radius:5px;
}

ul li:hover,
ul li:active {
    cursor:pointer;
    background:#fe57a1;
    color:#fff;
    text-shadow:1px 1px 1px rgba(0,0,0,0.4);
}
ul li:hover a {
    color:#fff;
}

li.odd {
    background:#f6f6f6;
    border-top:1px dotted #ddd;
    border-bottom:1px dotted #ddd;
}

a, a:visited {
    color:#fe57a1;
    text-decoration:none;
}

li.introductory a {
    color:#789048;
}

li.intermediate a {
    color:#00A8C6;
}

li.advanced a {
    color:#CC333F;
}

li.introductory span.first,
#tools a.introductory {
    background:#789048;
}

li.intermediate span.first,
#tools a.intermediate {
    background:#00A8C6;
}

li.advanced span.first,
#tools a.advanced {
    background:#CC333F;
}

h1 {
    text-transform:uppercase;
    color:#000;
    color:#fff;
    border-top:1px dashed #555;
    border-bottom:1px dashed #555;
    text-align:center;
    padding:0.5em 0;
    margin:1em 0 1em 0;
    text-shadow:0 0 10px rgba(255,255,255,0.3);
}

h1,h2 {
    position:relative;
}

h1 span,
h2 span {
    top:0.45em;
    right:0.2em;
    position:absolute;
    opacity:0.1;
    text-transform:uppercase;
}

h1 span:hover,
h2 span:hover {
    opacity:1;
}

h2 {
    padding:0.4em 0.7em 0.4em 0.7em;
    margin:0;
    color:#eee;
    text-shadow:1px 1px 1px rgba(0,0,0,0.3);
}

h2 span {
    top:0.2em;
    right:0.5em;
}

h1:hover,
h2:hover {
    cursor:pointer;
}

#container {
    background: url(".../img/circle.png") top center no-repeat;
    padding:0 2% 4% 2%;
    margin:0 auto;
    max-width:1000px;
}

#main-content > div {
    background:rgba(0,0,0,0.2);
    border-radius:5px;
    padding:0.5em;
    margin-bottom:1em;
    box-shadow:0 0 50px rgba(255,255,255,0.05);
}

ul.sessions {
    background:#fff;
    border-radius:5px;
}

ul.sessions li.first {
    border-top:none;
    border-radius:5px 5px 0 0;
}

ul.sessions li.last {
    border-bottom:none;
    border-radius:0 0 5px 5px;
}

.legends {
    position:absolute;
    top:0.8em;
    right:1em;
    padding:0 4em 0 0;
    width:40px;
}

.odd .legends {
    color:#f1f1f1;
}

.legends span {
    display:none;
}

.legends span.first {
    position:absolute;
    right:0;
    top:2px;
    display:inline;
    font-weight:bold;
    text-transform:uppercase;
    background:#555;
    border-radius:5px;
    padding:3px 5px 2px 5px;
    color:#fff;
    text-shadow:none;
    font-size:12px;
}

.legends img {
    float:right;
    margin:0 0 1px 1px;
    border:1px solid #fff;
    width:10px;
    height:10px;
}

img.level {
    display:none;
}


#filtersContainer,
#header,
#expandAll,
#session-overlay,
h2 img {
    display: none;
}
