---
layout: false
---

<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{ page.title }} (tejas.io){% else %}Tejas Manohar (tejas.io){% endif %}</title>
  <meta name="author" content="Tejas Manohar">
  <meta name="description" content="{% if page.title %}{{page.title}} - {% endif %}Tejas Manohar is an engineer and entrepreneur in Nashville.">
  <meta name="keywords" content="HTML, CSS, JS, Node, Ruby, Sinatra, PHP, GitHub, Open-source, Rails, Engineer, Software, Entrepreneur, Tejas Manohar, Tejas">
  
  <link href="http://feeds.feedburner.com/tejasmanohar" rel="alternate" title="tejas.io" type="application/atom+xml">
  <link rel="icon" type="image/png" href="/images/icon.png?8">

  <script type="text/javascript" src="http://use.typekit.com/zmq0szj.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    
  <script type="text/javascript" src="/less/js/jquery.js"></script>
  <link rel="stylesheet" href="/less/css/syntax.css" type="text/css">
  <link rel="stylesheet" href="/less/css/screen.css" type="text/css">  
  <!--<link rel="stylesheet" href="/css/plain.css" type="text/css" media="all">
  <link rel="stylesheet" href="/css/mobile.css" type="text/css" media="only all and (max-width: 700px)">  -->

  <script type="text/javascript" charset="utf-8">
    $(function() {
      
      function slide(e) {
        $("body").animate({scrollTop: $(e).offset().top});
      }

      function restart() {
        $("*").removeClass("current")
        $(".slide").first().addClass("current");
        slide($(".slide").first());
      }
      function next(e) {
        var c = $(".current");        
        if(c.hasClass("last")) {
          restart();
          return;
        }
        var n = c.next();
        c.removeClass("current");
        n.addClass("current");
        slide(n);
        e.preventDefault();
        return false;
      }
      
      $("body").keypress(next);
      
      restart();
    });
  </script>

</head>
<body id="tejas-io" class="hyphenate">


<div class="slide current"><div>
  <h1>LESS på 5 min</h1>
</div></div>

<div class="slide"><div>
  <h1>«The dynamic stylesheet»</h1>
  <ul>
    <li>LESS Utvider CSS-syntaxen</li>
    <li>Variabler, nesting, mixins, funksjoner osv.</li>
    <li>Kompileres fra .less til .css</li>
    <li>Både client-side og server-side verktøy</li>
    <li>Mange lignende språk (SASS, CleverCSS, ...)</li>
    <li>Mange biblioteker</li>
  </ul>
</div></div>

<div class="slide"><div>
{% highlight html %}
<!-- Client-side LESS -->

<link 
    rel="stylesheet/less" 
    type="text/css" 
    href="styles.less">

<script 
    src="less.js" 
    type="text/javascript">
</script>

{% endhighlight %}

</div></div>


<div class="slide"><div>
{% highlight css %}
/* Variabler */

@color: #4D926F;

#header {
  color: @color;
}
h2 {
  color: @color;
}
{% endhighlight %}

</div></div>


<div class="slide"><div>
{% highlight css %}
/* Nesting */

#header {
  h1 {
    font-size: 26px;
    font-weight: bold;
  }
  p { font-size: 12px;
    a { text-decoration: none;
      &:hover { border-width: 1px }
    }
  }
}
{% endhighlight %}

</div></div>


<div class="slide"><div>
{% highlight css %}
/* Mixins */

.rounded-corners (@radius: 5px) {
  border-radius: @radius;
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
}

#header {
  .rounded-corners;
}
#footer {
  .rounded-corners(10px);
}
{% endhighlight %}

</div></div>


<div class="slide"><div>
{% highlight css %}
/* Funksjoner */

@the-border: 1px;
@base-color: #111;
@red:        #842210;

#header {
  color: @base-color * 3;
  border-left: @the-border;
  border-right: @the-border * 2;
}
#footer { 
  color: @base-color + #003300;
  border-color: desaturate(@red, 10%);
}
{% endhighlight %}

</div></div>



<div class="slide"><div>
{% highlight css %}
/* Masse forskjellig */

.box-shadow (@x: 0, @y: 0, @blur: 1px, @alpha) {
  @val: @x @y @blur rgba(0, 0, 0, @alpha);

  box-shadow:         @val;
  -webkit-box-shadow: @val;
  -moz-box-shadow:    @val;
}

.box { 
  @base: #f938ab;
  color:        saturate(@base, 5%);
  border-color: lighten(@base, 30%);
  div { .box-shadow(0, 0, 5px, 0.4) }
}
{% endhighlight %}

</div></div>

<div class="slide"><div>

<ul>
  <li>Mindre CSS</li>
  <li>Flere muligheter</li>
  <li>Enklere cross-browser (abstrahert bort)</li>
  <li>Enklere vedlikehold</li>
  <li><span>Høyere livskvalitet ☺</span></li>
</ul>
</div></div>


<div class="slide"><div>
{% highlight css %}
/* Fluid layout example (SASS) */

$grid_columns: 24;        /* number of columns */
$total_max_width: 950px;  /* max page width */

/* compute width of 1 column */
$grid_col_width: 100% / $grid_columns;

/* create a div spanning n columns */
@mixin col($n: 1) {
  float: left;
  @include span($n);
}

/* make an element span n columns */
@mixin span($n: 1) {
  width: ($n * $grid_col_width);
}

/* prepend n empty columns */
@mixin prepend($n: 1) {
  margin-left: $grid_col_width * $n
}

/* append n empty columns */
@mixin append($n: 1) {
  margin-right: $grid_col_width * $n
}

/* define max width in EMs for proper grid resizing */
body { 
  font-size: 100%; 
  max-width: ($total_max_width / 16px) + em; 
} 

/* a row defines a new grid or subgrid */
.row { float: left; width: 100%; }

/* mixin example usage */
#menu { @include col(5); }
#side { @include col(5); }
#main { 
  @include prepend(1);
  @include col(12); 
  @include append(1);
}
{% endhighlight %}

</div></div>

<div class="slide last"><div>
  <h1>Done.</h1>
  
  <p>lesscss.org</p>
  <p>sass-lang.com</p>
  
</div></div>

</body>
</html>