<div class="intro">

<ul class="colophon">
  <li>Hi, I'm Tejas.</li>
  <li>I'm occasionally on <a href="http://twitter.com/tejasmanohar">Twitter</a>.</li>
  <li>I'm more often on <a href="http://github.com/tejasmanohar">GitHub</a>.</li>
  <li>I'm reachable by <a href="mailto:me@tejas.io">email</a>.</li>
</ul>

<ul class="items posts">
  {% for post in site.posts limit:11 %}
    <li>
      <strong>{{ post.date | date_to_string }}</strong>
      <a href="{{ post.url }}">{{ post.title }}</a>
    </li>
  {% endfor %}
</ul>

<ul class="items projects last">
  <li>
    <strong><a href="https://github.com/tejasmanohar/node-schedule">NSchedule</a></strong>
    <span>A flexible job scheduler for Node</span>
  </li>
  <li>
    <strong><a href="https://github.com/borisrepl/boris">Boris</a></strong>
    <span>A tiny PHP REPL</span>
  </li>
  <li>
    <strong><a href="https://github.com/tejasmanohar/npm-algos">NAlgos</a></strong>
    <span>Curated list of Node algorithm implementations</span>
  </li>
  <li>
    <strong><a href="https://github.com/tejasmanohar/twilio-plays-2048">TWP2048</a></strong>
    <span>Multiplayer 2048 over SMS</span>
  </li>
  <li>
    <strong><a href="https://github.com/tejasmanohar/omnus">Omnus</a></strong>
    <span>Offline mobile music streaming server</span>
  </li>
</ul>

</div>