<div class="intro">

<ul class="colophon">
  <li>Hi, I'm Olav.</li>
  <li>I'm occasionally on <a href="http://twitter.com/vandelay">Twitter</a>.</li>
  <li>I'm more often on <a href="http://github.com/olav">GitHub</a>.</li>
  <li>I'm reachable by <a href="mailto:olav at bjorkoy dot com">email</a>.</li>
</ul>

<ul class="items projects">
  <li>
    <strong><a href="https://github.com/olav/pacbot">Pacbot</a></strong>
    <span>A fast static site generator, built for large single-page&nbsp;webapps.</span>
  </li>
  <li>
    <strong><a href="https://github.com/olav/tag.js">Tag.js</a></strong>
    <span>An experiment in writing HTML using plain JavaScript&nbsp;functions.</span>
  </li>
  <li>
    <strong><a href="https://github.com/olav/scene.js">Scene.js</a></strong>
    <span>A small JavaScript library for rendering view&nbsp;models.</span>
  </li>
  <li>
    <strong><a href="https://github.com/olav/dispatch.js">Dispatch.js</a></strong>
    <span>A simple library for routing hash change events to&nbsp;handlers.</span>
  </li>
  <li>
    <strong><a href="http://superherojs.com">Superhero.js</a></strong>
    <span>A collection of resources on how to build large single page webapps.</span>
  </li>
  <li>
    <strong><a href="http://www.blueprintcss.org/">Blueprint CSS</a></strong>
    <span>Horizontal and vertical grids, and sensible default&nbsp;styling.</span>
  </li>
  <li>
    <strong><a href="https://github.com/olav/RubySOM">RubySOM</a></strong>
    <span>Using a SOM (Kohonen map) to solve the&nbsp;TSP.</span>
  </li>
  <li>
    <strong><a href="https://github.com/olav/PyANN">PyANN</a></strong>
    <span>Generic Artificial Neural Network Framework in&nbsp;Python.</span>
  </li>
  <li>
    <strong><a href="https://github.com/olav/RubyGA">RubyGA</a></strong>
    <span>Genetic Algorithm Framework written in&nbsp;Ruby.</span>
  </li>
  <li>
    <strong><a href="https://github.com/olav/PyPoker">PyPoker</a></strong>
    <span>A poker bot capable of playing against human&nbsp;opponents.</span>
  </li>
  <li>
    <strong><a href="https://github.com/olav/dotfiles">Dotfiles</a></strong>
    <span>My dotfiles for Ubuntu, mostly for Xmonad, Vim and&nbsp;ZSH.</span>
  </li>
</ul>

<ul class="items">
  <li>
    <a href="/files/papers/adaptive.aggregation.of.recommender.systems.pdf">Adaptive Aggregation of Recommender&nbsp;Systems</a>
    <a class="more" href="/files/papers/adaptive.aggregation.of.recommender.systems.short.pdf">short version</a>
    <a class="more" href="https://github.com/olav/thesis">code</a>
  <li>
    <a href="/files/papers/competitive.and.cooperative.behavior.in.bio-inspired.ai.pdf">
      Competitive and Cooperative Behavior&nbsp;in&nbsp;Bio-Inspired&nbsp;AI</a>
  </li>
  <li>
    <a href="/files/papers/user.modeling.on.the.web.pdf">
      User Modeling on the Web: A Review of Recommendation Systems</a>
  </li>
</ul>

<ul class="items posts last">
  {% for post in site.posts limit:11 %}
    <li>
      <strong>{{ post.date | date_to_string }}</strong>
      <a href="{{ post.url }}">{{ post.title }}</a>
    </li>
  {% endfor %}
</ul>

</div>