* {
  margin:0;
  padding:0; }

body {
  padding:10%;
  line-height:1.5;
  font-size:1em;
  font-family:sans-serif; }

#wrap {
  max-width:600px;
  margin:0 auto; }

h2,h3,h4,h5,h6,p,ul,ol,pre {
  margin-bottom:1em;
  font-weight:normal;
  color:#000; }

h1,h2,h3,h4,h5,h6 {
  font-family: ff-tisa-web-pro-1,ff-tisa-web-pro-2,serif; }

h3,h4,h5,h6 {
  padding:1em 0 0 0; }

h2 {
  font-size:2em;
  margin-bottom:2em; }
h3 {
  font-size:1.4em; }

a {
  color:#000;
  text-decoration:none; }
a:hover {
  color:#000; }

p {
  text-align:justify;
  color:#222; }

p a, ul a, ol a {
  color:#930; }

p strong {
  background:#F1EFD8;
  font-weight:normal; 
  padding:0 0.1em; 
  margin:0 -0.1em; }

ul,ol {
  padding:2em 2em 1em 3em; 
  background:#f9f9f9; }
li {
  padding:0 0 0.5em 0; }

pre,blockquote {
  font-size:0.9em; 
  padding:2em; 
  background:#f9f9f9;
  overflow:auto;
  -webkit-shadow:inset 0 0 5px rgba(0,0,0,0.1);
  -moz-shadow:inset 0 0 5px rgba(0,0,0,0.1);
  box-shadow:inset 0 0 5px rgba(0,0,0,0.1); }

.date {
  text-align:right; 
  font-size:0.9em;
  color:#ccc; }
.post {
  margin-bottom:10em; }
  
#me img {
  width:10em; }
#me:hover {
  border:none; }

ul.menu {
  font-family: ff-tisa-web-pro-1,ff-tisa-web-pro-2,serif;
  list-style-type:none;
  background:none;
  margin:3em 0 0 0;
  padding:0;
  border-top:1px solid #f9f9f9;
}
ul.menu li { 
  padding:0; }
ul.menu a {
  border-bottom:1px solid #f9f9f9;
  display:block;
  font-size:1em;
  padding:0.5em 0.5em;
  color:#000; }
ul.menu a:hover {
  background:#f9f9f9; }

ul.posts {
  font-family: ff-tisa-web-pro-1,ff-tisa-web-pro-2,serif;
  background:none;
  list-style-type:none;
  border-top:1px solid #f9f9f9;
  margin:0 auto;
  padding:0 0 5em 0;
  font-size:1.1em; }
ul.posts li {
  position:relative;
  line-height:1;
  padding:0;
  margin:0; }
ul.posts a {  
  display:block;
  padding:0.4em 5em 1.5em 0.2em;
  overflow:hidden;
  height:1.2em;
  line-height:2;
  border-bottom:1px solid #f9f9f9;
  color:#000; }
ul.posts a:hover {
  background:#f9f9f9; }
ul.posts span { 
  position:absolute;
  display:block;
  right:0.5em;
  top:1.1em;
  font-size:0.9em;
  color:#ccc;
  text-align:right; }
